<!DOCTYPE html>
<html>
  <head>
    <title>Example</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
  <form name="article-create">
    <input type="text" name="title" placeholder="title">
    <br><input type="file" name="preview">
    <br><textarea name="content" placeholder="content"></textarea>
    </br><button type="submit">
    send
    </button>
  </form>
<script src="/js/main.js"></script>
  </body>
</html> 
